body{
  font-family: 'Montserrat', sans-serif;
  color: antiquewhite;
  min-height: 100vh;
  background-image: url("../img/IMG_5105PB.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.page{
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  color: antiquewhite;
  -webkit-font-smoothing: antialiased;  margin: 0 auto 0;
  padding-top: 25px;
  margin: 0 auto 0;
  justify-content: space-evenly;
  align-items: center;
}

header{
  width: 90%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img{
  max-width:75px;
  max-height:150px;
  width: auto;
  height: auto;
  opacity: 0.5;
}
header a:hover img{
  opacity: 1;
}
header ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  gap:36px;
}

header a{
  text-decoration: none;
  color: antiquewhite;
}
ul li a {
  opacity: 0.5;
}

ul li a:hover {
font-weight: bold;
opacity: 1;
}

main {
  display: flex;
  flex-wrap: wrap;
  margin:auto;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  gap:50px;
}

.input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  opacity: 0.95;
  box-shadow: 0 0 3px 2px black;
  padding: 50px 100px;
  border-radius: 35px;
  height: 450px;
  min-width: 318px;

}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 10px 0 10px 0;
  font-size: 48px;
  text-align: center;
}
h2 {
  margin: 20px 0 60px 0;
  text-align: center;
  font-size: 32px;
}
span{
  color:brown;
}


.formulario {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:15px;
  padding-bottom: 25px;
  
}

input {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-size: 20px;
  text-align: center;
  background-color: darkgray;
  border: none;
  height: 30px;
  width: 250px;
  border-radius: 5px;
}

button {
  width: 250px;
  margin-top: 5px;
  font-family: 'Montserrat', sans-serif;
  color: antiquewhite;
  text-transform: uppercase;
  font-weight: 600;
  background: brown;
  border: none;
  padding: 7px 0 7px;
  border-radius: 4px;
  cursor: pointer;  
}
.answer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  opacity: 0.95;
  box-shadow: 0 0 3px 2px black;
  padding: 50px 100px;
  border-radius: 35px;
  height: 350px;
  min-width: 318px;
}
.answer-box h3 {
  margin-top:0;
  font-size: 36px;
  text-align: center;
}

.number-box {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  min-width: 300px;
  min-height: 80px;
  border-radius: 5px;
  border: 5px solid brown;
  background-color: black;
}

#answer {
  padding: 0;
  margin: 0;
  font-family: 'Wallpoet', cursive;
  color: antiquewhite;
  font-size: 48px;
}
.barbell {
  display: flex;
  align-items: center;
}
.edge {
  background-color: silver;
  height: 10px;
  width: 35px;
}
.plate {
  background-color: brown;
  height: 120px;
  width: 25px;
  border: 1px solid black;
  border-radius: 7px;
}
.center {
  background-color: silver;
  height: 10px;
  width: 200px;
}
footer {
  display: flex;
  height: 48px;
  width: 98.5%;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}